# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=statscout_video

# Roboflow Local Inference Server
INFERENCE_SERVER_URL=http://localhost:9001

# Roboflow API Key (needed ONCE to download model weights on first run)
ROBOFLOW_API_KEY=your_key_here

# Celery / Redis
REDIS_URL=redis://localhost:6379/0

# Storage
UPLOAD_DIR=./storage/uploads
PROCESSED_DIR=./storage/processed
FRAMES_DIR=./storage/frames

# Processing
FRAME_SAMPLE_RATE=1
# Process 1 frame per second. At 25fps video, this means every 25th frame.
# Increase to 2 or 5 for faster processing, decrease to 0.5 for denser data.
MAX_UPLOAD_SIZE_MB=2000
